Mongodb Aggregate And Group

- avg

- sum

- project

In [2]:
from pymongo import MongoClient  
    
# creation of lvariable  MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  (Default )
client = MongoClient("mongodb://localhost:27017/")  
    
# create  database  
mydatabase = client['Students']  
    
# create a collection in database  
collection=mydatabase['studentscores']

In [3]:
data = [ 
    {"user":"vicky", "subject":"Database", "score":80}, 
    {"user":"vignesh",  "subject":"JavaScript", "score":90}, 
    {"user":"ram",  "title":"Database", "score":85}, 
    {"user":"suresh",  "title":"JavaScript", "score":75}, 
    {"user":"sriee",  "title":"Data Science", "score":60},
    {"user":"suresh",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [10]:
 # Total no of records
    
agg_result = collection.aggregate(
[{
    "$group" :
         {"_id" : "$user",
         "Total Subject" : {"$sum": 1}}
}]
)    

for i in agg_result:
    print(i)

{'_id': 'vicky', 'Total Subject': 1}
{'_id': 'ram', 'Total Subject': 1}
{'_id': 'vignesh', 'Total Subject': 1}
{'_id': 'suresh', 'Total Subject': 2}
{'_id': 'sriee', 'Total Subject': 1}

In [11]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'suresh', 'Total Marks': 170}
{'_id': 'sriee', 'Total Marks': 60}
{'_id': 'ram', 'Total Marks': 85}
{'_id': 'vignesh', 'Total Marks': 90}
{'_id': 'vicky', 'Total Marks': 80}

In [12]:
### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'vignesh', 'StudentScoreAverage': 90.0}
{'_id': 'suresh', 'StudentScoreAverage': 85.0}
{'_id': 'sriee', 'StudentScoreAverage': 60.0}
{'_id': 'vicky', 'StudentScoreAverage': 80.0}
{'_id': 'ram', 'StudentScoreAverage': 85.0}

Date time

In [13]:
import datetime as datetime

In [14]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [15]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2023, 5, 24, 6, 28, 40, 649078)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2023, 5, 24, 6, 28, 40, 649078)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2023, 5, 24, 6, 28, 40, 649078)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2023, 5, 24, 6, 28, 40, 649078)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2023, 5, 24, 6, 28, 40, 649078)}]

In [16]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

In [18]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}

In [20]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}]

In [21]:
# Access collection of the database  
collection=mydatabase['Books']

In [22]:
collection.insert_many(data)

In [23]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}