In [4]:
import pymongo

#  initailize collections
client = pymongo.MongoClient("mongodb://localhost:27017")

# cretae db
mydb = client["Employee"]

#  create collection
empinfo = mydb.employeeinformation

In [5]:
#  cretae record  (json)
record={
    "first name":"vignesh",
    "last name" : "vicky",
    "age" : "20"
}

#  insert record 
empinfo.insert_one(record)

In [6]:

#  insert many record in array format
record1=[{
    "first name":"vignesh",
    "last name" : "vicky",
    "age" : "20"
},{
    "first name":"vicky",
    "last name" : "vignesh",
    "age" : "21"
    
},{
    "first name":"vignesh",
    "last name" : "vicky",
    "age" : "20"
}]

#  insert record many
empinfo.insert_many(record1)

### simple way of querying

In [9]:
empinfo.find_one()

{'_id': ObjectId('646d9e6a338dbe52b82cbaf3'),
 'first name': 'vignesh',
 'last name': 'vicky',
 'age': '20'}

In [11]:
empinfo.find() # select *  from employeinformation

In [14]:
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('646d9e6a338dbe52b82cbaf3'), 'first name': 'vignesh', 'last name': 'vicky', 'age': '20'}
{'_id': ObjectId('646d9e6a338dbe52b82cbaf4'), 'first name': 'vignesh', 'last name': 'vicky', 'age': '20'}
{'_id': ObjectId('646d9e6a338dbe52b82cbaf5'), 'first name': 'vicky', 'last name': 'vignesh', 'age': '21'}
{'_id': ObjectId('646d9e6a338dbe52b82cbaf6'), 'first name': 'vignesh', 'last name': 'vicky', 'age': '20'}

**query the json based on conditions**

In [15]:
for record in empinfo.find({"first name" : "vignesh"}):
    print(record)

{'_id': ObjectId('646d9e6a338dbe52b82cbaf3'), 'first name': 'vignesh', 'last name': 'vicky', 'age': '20'}
{'_id': ObjectId('646d9e6a338dbe52b82cbaf4'), 'first name': 'vignesh', 'last name': 'vicky', 'age': '20'}
{'_id': ObjectId('646d9e6a338dbe52b82cbaf6'), 'first name': 'vignesh', 'last name': 'vicky', 'age': '20'}

 **query the json based on query operator ($in,$lt,$gt,etc)**

In [22]:
for record in empinfo.find({"age" : {"$lt":50}}):
    print(record)

cretae new collection

In [23]:
inventory=mydb.inventory

In [24]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [25]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('646da4e9338dbe52b82cbaf7'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}